{
  "presets": [
    ["@babel/preset-env", {
        "modules":"commonjs",
        "targets": {
          "browsers":["last 2 version", "ie >= 11"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"]
}