.ContactList{
    margin:70px auto;
    max-width:1035px;
    height:100%;
    display:flex;
    flex-direction: column;
    padding:12px;
}

.TabHeader{
    flex-grow:1;
    display:flex;
}

.TabBody{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.TabSearch{
    display:flex;
    padding:12px;
    border-left:1px solid green;
    border-right:1px solid green;
    background-color: #01C3A7;
}

.TabSearch input{
    width:40%;
    height:25px;
    display: flex;
    border-radius: 5px;
    padding:5px;
    font-size:16px;
}

.TabSearch span{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 0 5px black;
    margin: 0 12px;
}

.TabBodyRow{
    padding:12px;
    height:500px;
    display:flex;
    background-color: #01C3A7;
    border:1px solid green;
    border-top:0;
    border-bottom:0;
}

.TabBodyFirstRow{
    flex-grow:1;
}

.TabBodySecondRow{
    flex-grow:1;
}

.TabButton{
    display:flex;
    justify-content: space-between;
    padding:12px;
    background-color: #01C3A7;
    border:1px solid green;
    border-top:0;
}

.TabButton div{
    width:100px;
    background:cyan;
    border-radius: 10px;
    padding:7px 0;
    text-align:center;
    cursor:pointer;
}

.TabButton div:hover{
    background-color: darkcyan;
}

.Error{
    color:red;
}

@media(max-width:768px){
    .ContactList{
        flex-direction: row;
    }

    .TabHeader{
        flex-grow:0;
        flex-direction: column;
    }
    .TabBody{
        width:100%;
    }

    .TabSearch{
        display:flex;
        padding:12px 24px 0 12px;
        border-left:0;
        border-top:1px solid green;
    }
    .TabSearch input {
        width:100%;
    }

    .TabBodyRow{
        flex-direction: column;
        flex-grow:1;
        border:1px solid green;
        border-top:1px solid #01C3A7;
        border-bottom:0;
        border-left:0;
    }

    .TabBodyFirstRow{
        flex-grow:0;
    }

    .TabBodySecondRow{
        flex-grow:0;
    }
    .TabButton{
        height:40px;
        border:1px solid green;
        border-top:1px solid #01C3A7;
        border-left:0;
    }
}