.TabDetails{
    display:flex;
    flex-direction: column;
    margin-right:12px;
    margin-bottom:5px;
}

.List{
    display:flex;
    padding: 0 12px;
    height:40px;
    background:#fff;
    margin:1px;
    cursor:pointer;
}

.List span{
    align-self: center;
}

.List:hover{
    background:aquamarine;
}

.ListBody{
    position:relative;
    z-index:5;
    height:100%;
    display:none;
    margin:0 1px;
    padding:12px;
    background-color:peachpuff;
}

.ListImage{
    align-self:center;
    box-shadow: 0 0 5px black;
    border-radius: 100%;
    width:100px;
    height:100px;
}

.ListDetails{
    flex-grow:1;
    padding:0 24px;
}

.ListDetails div > span:last-child {
    font-weight: bolder;
}

.CloseIcon{
    top:10px;
    right:10px;
    position:absolute;
    background:url("../../../images/close.svg") center;
    width:40px;
    height:40px;
    cursor:pointer;
}


@media(max-width:768px){
    .TabDetails{
        width:100%;
    }
}

@media(max-width:568px) {
    .ListBody {
        flex-direction: column;
    }

    .ListImage {
        align-self: flex-start;
        border-radius: 5px;
        width: 80px;
        height: 80px;
    }

    .ListDetails {
        padding: 0;
        margin: 10px 0 0 0;
        font-size: 12px;
    }
}