.Tab{
    flex-grow:1;
    height:30px;
    border-radius: 5px 5px 0 0;
    border: 1px solid green;
    background-color: white;
    cursor:pointer;
}

.Tab:hover{
    background-color: #01C3A7;
    border-bottom:1px solid #01C3A7;
}
.Tab:active:hover{
    background-color: #01C3A7;
    border-bottom:1px solid #01C3A7;
}